    .footer-wrap {
        border-top: 1px solid #c7d4e0;
        width: 100%;
        min-width: 1024px;
        margin-top: 300px;
    }
    .footer {
    padding-top: 14px;
    margin-bottom: 20px;
    }
    .cbody {
    width: 1024px;
    margin: 0 auto;
    }
    .clearfix {
    +display: inline-block;
    }
    .footer-nav {
    width: 104px;
    padding-left: 20px;
    float: left;
}
    ul, ol {
    list-style-type: none;
    }
    .case-wrap {
    width: 1024px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 26px;
    border-top: 1px solid #c7d4e0;
}
    .companyProductsWrap {
    position: relative;
    }
    .word {
    color: #617385;
    position: absolute;font-weight: 200;
    width: 140px;
    text-align: center;
    background: #fff;
    margin-left: 49%;
    left: -65px;
    top: -22px;
    font-size: 23px;
    font-family: "微软雅黑";
}
    .col-md-4 img {
	    transition:All 0.4s ease-in-out;
	    -webkit-transition:All 0.4s ease-in-out;
	    -moz-transition:All 0.4s ease-in-out;
	    -o-transition:All 0.4s ease-in-out;
	}
	.col-md-4 img:hover {
        transform:rotate(360deg) scale(1.15);
	    -webkit-transform:rotate(360deg) scale(1.15);
	    -moz-transform:rotate(360deg) scale(1.15);
	    -o-transform:rotate(360deg) scale(1.15);
	    -ms-transform:rotate(360deg) scale(1.15);
	}
    div h4 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    div p {
        color: #444444;
        font-size: 15px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #contacted .name, .email{
        height: 50px;
        padding-left: 30px;
        font-weight: 300;
        font-family: Roboto,sans-serif;
        font-size: 17px;
        border-radius: 50px;
}
    #contacted .comment {
        height: 100px;
        border-radius: 20px;
        padding-left: 30px;
        font-weight: 300;
        font-family: Roboto,sans-serif;
        font-size: 17px;
    }
    .contact h3 {
        text-align: center;
    }
    #contacted .button {
        height: 50px;
        padding-left: 25px;
        font-weight: 600;
        font-size: 14px;
        font-family: Montserrat,sans-serif;
        border: none;
        color: #fff;
        float: right;
        margin-top: 15px;
        border-radius: 50px;
        padding-right: 25px;
        letter-spacing: 1px;
        background-color: #e71e62;
        text-transform: uppercase;
}
    #use .button{
        background-color: #e71e62;
    border: medium none;
    border-radius: 50px;
    color: #fff;
    float: none;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 1px;
    max-width: 349px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    outline: none;
    }
    #boom .button{
        background-color: #e71e62;
    border: medium none;
    border-radius: 50px;
    color: #fff;
    float: none;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 1px;
    max-width: 349px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    outline: none;
    }

    .button{
    background-color: rgb(1, 238, 255);
    border: medium none;
    border-radius: 50px;
    color: #fff;
    float: none;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 1px;
    max-width: 349px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
    outline: none;
    }

    .button2{
    background-color: rgb(0, 230, 193);
    border: medium none;
    border-radius: 50px;
    color: #fff;
    float: none;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 1px;
    max-width: 349px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
    outline: none;
    }

    li a {
        color: white;
    }
    .polymerization {
    width: 100%;
    height: 440px;
    letter-spacing: .5px;
}
    .polymerization .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(../img/newbanner.jpg);
    background-size: cover;
    background-position: 50% -156px;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
    .polymerization .rectangle {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url(../img/zhezhao.png);
    background-position: center center;
    background-size: cover;
}
    .polymerization .content {
    position: absolute;
    z-index: 3;
    top: 110px;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 848px;
    height: 150px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
    .polymerization .content .top {
    font-size: 30px;
    text-align: center;
    color: white;
}
    .polymerization .content .top + div {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
    .myheader {
        text-align:center;
        color: #fff;
        font-size: 70px;
        margin-top: 140px;
        font-weight: bold
    }