<table class="table table-hover">
    <thread >
        <tr>
            <th >被执行人姓名/名称</th>
            <th >身份证号码/组织机构代码</th>
            <th >地方名</th>
            <th >案号</th>
            <th >发布时间</th>
            <th >情况</th>
          </tr>
    </thread>
 <tbody>
 {% for d in DishonestExecutors %}
    <tr style="font-size: 16px">
        <td bgcolor="#FFFFFF">{{ d.name }}</td>
        <td bgcolor="#FFFFFF">{{ d.card_num }}</td>
        <td bgcolor="#FFFFFF">{{ d.area_name }}</td>
        <td bgcolor="#FFFFFF">{{ d.case_code }}</td>
        <td bgcolor="#FFFFFF">{{ d.publish_date }}</td>
        <td bgcolor="#FFFFFF">{{ d.performance }}</td>
    </tr>
 {% endfor %}

   </tbody>
 </table>

