{% extends "base.html" %}
{% block title %}政府机构查询{% endblock %}
{% block body_attribs %}
{% endblock %}
{% block head %}
{{ super() }}
    <link href="{{ url_for('static', filename='css/mycss/dishonest.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="searchForm" class="my-form">
                <p style="padding: 10px 0px 10px 20px;color: #f1f3f5"> <strong><span style="font-size: 30px;color: #1abc9c">政</span>府机构查询 </strong></p>
                <div class="my-input">
                <select id="dopProvince" data-toggle="select" class="form-control select select-inverse mrs mbm" name="province">
                    <option value=''>省份</option>
                </select>
                <select id="dopCity" data-toggle="select" class="form-control select select-inverse mrs mbm" name="city">
                    <option value=''>市区</option>
                </select>
                <select id="dopSubCity" data-toggle="select" class="form-control select select-inverse mrs mbm" name="sub_city">
                    <option value=''>县镇</option>
                </select>
                <select id="dopStreet" data-toggle="select" class="form-control select select-inverse mrs mbm" name="town_street">
                    <option value=''>街道</option>
                </select>
                <input style="display: inline-block;position: relative;width: 140px" class="form-control" type="text" id='content' name="content"/>
                <a role="button" class="btn btn-primary" > 查询 </a>
                </div>
            </form>

        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <div id="result" style="padding-left: 20px;padding-right: 20px;">
        </div>
    </div>
    </div>

    <script>
    $(document).ready(function(){
        $.post("{{ url_for('get_area') }}",
        {
            type:"province",
            name:"all"
        }, function(data, status){
                    data = JSON.parse(data);
                    for (var i in data){
                        $("#dopProvince").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
        });
        //当省份改变的时候
        $("#dopProvince").change(function() {
            var id = $("#dopProvince").val();
            $("#dopCity").empty();
            $("#dopCity").append("<option value=''>市区</option>");
            $.post("{{ url_for('get_area') }}", {
                type: "city",
                name: id
            }, function (data, status) {
                data = JSON.parse(data);
                for (var i in data) {
                    $("#dopCity").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                }
            });
        });
{##}
{#        //当城市改变的时候#}
        $("#dopCity").change(function() {
            var id = $("#dopCity").val();
            $("#dopSubCity").empty();
            $("#dopSubCity").append("<option value=''>县镇</option>");
            $.post("{{ url_for('get_area') }}", {
                type: "sub_city",
                name: id
            }, function (data, status) {
                data = JSON.parse(data);

                for (var i in data) {
                    $("#dopSubCity").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                }
            });
        });
{#        //当城市改变的时候#}
        $("#dopSubCity").change(function() {
            var id = $("#dopSubCity").val();
            $("#dopStreet").empty();
            $("#dopStreet").append("<option value=''>街道</option>");
            $.post("{{ url_for('get_area') }}", {
                type: "town_street",
                name: id
            }, function (data, status) {
                data = JSON.parse(data);
                for (var i in data) {
                    $("#dopStreet").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                }
            });
        });
{#    //点击查询#}
        $(".btn-primary").click(function () {
            $.post("{{ url_for('get_mess') }}",
                    {
                        province: $('#dopProvince').val(),
                        city: $('#dopCity').val(),
                        sub_city: $('#dopSubCity').val(),
                        town_street: $('#dopStreet').val(),
                        content: $('#content').val()
                    },function (data, status) {
                        $('#result').empty();
                        $('#result').append(data);
                    })
        })
    })
    </script>
{% endblock %}
