{% extends "base.html" %}
{#{% block title %}爬虫组{% endblock %}#}
{% block body_attribs %}
{% endblock %}
{% block head %}
{{ super() }}
    <style>
    .footer-wrap {
        border-top: 1px solid #c7d4e0;
        width: 100%;
        min-width: 1024px;
        margin-top: 300px;
    }
    .footer {
    padding-top: 14px;
    margin-bottom: 20px;
    }
    .cbody {
    width: 1024px;
    margin: 0 auto;
    }
    .clearfix {
    +display: inline-block;
    }
    .footer-nav {
    width: 104px;
    padding-left: 20px;
    float: left;
}
    ul, ol {
    list-style-type: none;
    }
    .case-wrap {
    width: 1024px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 26px;
    border-top: 1px solid #c7d4e0;
}
    .companyProductsWrap {
    position: relative;
    }
    .word {
    color: #617385;
    position: absolute;font-weight: 200;
    width: 140px;
    text-align: center;
    background: #ffffff;
    margin-left: 49%;
    left: -65px;
    top: -22px;
    font-size: 23px;
    font-family: "微软雅黑";
}
    	img {
	    transition:All 0.4s ease-in-out;
	    -webkit-transition:All 0.4s ease-in-out;
	    -moz-transition:All 0.4s ease-in-out;
	    -o-transition:All 0.4s ease-in-out;
	}
	img:hover {
        transform:rotate(360deg) scale(1.15);
	    -webkit-transform:rotate(360deg) scale(1.15);
	    -moz-transform:rotate(360deg) scale(1.15);
	    -o-transform:rotate(360deg) scale(1.15);
	    -ms-transform:rotate(360deg) scale(1.15);
	}
    div h4 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    div p {
        font-size: 15px;
        font-style: italic;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #contacted .name, .email{
        height: 50px;
        padding-left: 30px;
        font-weight: 300;
        font-family: Roboto,sans-serif;
        font-size: 17px;
        border-radius: 50px;
}
    #contacted .comment {
        height: 100px;
        border-radius: 20px;
        padding-left: 30px;
        font-weight: 300;
        font-family: Roboto,sans-serif;
        font-size: 17px;
    }
    .contact h3 {
        text-align: center;
    }
    #contacted .button {
        height: 50px;
        padding-left: 25px;
        font-weight: 600;
        font-size: 14px;
        font-family: Montserrat,sans-serif;
        border: none;
        color: #fff;
        float: right;
        margin-top: 15px;
        border-radius: 50px;
        padding-right: 25px;
        letter-spacing: 1px;
        background-color: #e71e62;
        text-transform: uppercase;
}
    </style>
{% endblock %}
{% block page_content %}
    <div class="jumbotron" style="margin-top:-30px;max-width: 1920px;height: 300px;background: url('{{ url_for('static', filename='img/banner.jpg') }}') top/cover no-repeat">
    </div>
    <div class="container" style="margin-bottom: 60px">
    <div class="row" style="margin-top: 50px">
        <div class="case-wrap companyProductsWrap">
            <div class="word">
                征信审核
            </div>
        </div>
        <div class="col-md-4">
                <a href="{{ url_for('dishonest_check') }}">
                    <img  src="{{ url_for('static', filename='img/remain2.png') }}" width="200px" style="margin-left: 22%"
                         />
                    <h4 style="margin: -15px 0px 10px 0px">失信被执行人</h4>
                    <p> "黑名单"查询入口。名单涵盖了社会各行各业的“老赖”。
                    </p>
                </a>
        </div>
        <div class="col-md-4">
                <a href="{{ url_for('dishonest_person') }}">
                    <img src="{{ url_for('static', filename='img/remain1.png') }}" width="200px" style="margin-left: 22%"
                         onmouseover="bigImg(this)" onmouseout="normalImg(this)"/>
                                        <h4 style="margin: -15px 0px 10px 0px">被执行人</h4>
                    <p> 被执行人查询入口。被执行人是指在法定的上诉期满后，或终身判决作出后，拒不履行法院判决或仲裁裁决的当事人。
                </a>
        </div>
        <div class="col-md-4">
                <a href="#">
                    <img src="{{ url_for('static', filename='img/credit_report.png') }}" width="200px" style="margin-left: 22%"
                         onmouseover="bigImg(this)" onmouseout="normalImg(this)"/>
                    <h4 style="margin: -15px 0px 10px 0px">征信报告</h4>
                    <p> 征信报告查询入口。征信报告分为个人信用报告以及企业信用报告。</p>
                </a>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="case-wrap companyProductsWrap">
            <div class="word">
                Others
            </div>
        </div>
         <div class="col-md-4">
                 <a href="{{ url_for('check') }}">
                    <img src="{{ url_for('static', filename='img/search.png') }}" width="200px" style="margin-left: 22%"/>
                     <h4 style="margin: -15px 0px 10px 0px">运营商</h4>
                    <p> 运营商查询入口。查询用户手机号码详细信息。</p>
                </a>
        </div>
        <div class="col-md-4">
                <a href="{{ url_for('institution') }}">
                <img src="{{ url_for('static', filename='img/government.png') }}" width="200px"
                     style="margin-left: 22%"/>
                    <h4 style="margin: -15px 0px 10px 0px">政府机构</h4>
                    <p> 运营商查询入口。查询用户手机号码详细信息。</p>
                </a>
        </div>
        <div class="col-md-4">
                <a href="#">
                    <img src="{{ url_for('static', filename='img/money_judge_gray.png') }}" width="200px"
                         style="margin-left: 22%"/>
                    <h4 style="margin: -15px 0px 10px 0px">额度评估</h4>
                    <p> 待上线。</p>
                </a>
        </div>
    </div>
    </div>
<!--begin footer-->
 <div style="background-color:#3c4252; border-top:1px solid #ccc;">

 </div>
<footer style="background-color:#3c4252">
    <div class="container logo site-bottom">
        <section class="contact">
            <h3>联系我们</h3>
            <p>Got a question or would like to schedule a one-on-one demo? Please use our contact form below and we’ll get back to you right away.</p>
            <div class="col-sm-11 col-sm-offset-1" style="padding-bottom: 50px;padding-top: 50px;">
                <div id="contacted">
                    <input type="hidden" name="env" value="live" />
                    <div>
                        <div role="form" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div style="min-height: 75px;">
                                        <div class="col-sm-5">
                                            <input type="text" name="name" value="" size="40" class="name form-control" aria-invalid="false" placeholder="Name" />
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-1">
                                            <input type="email" name="email" value="" size="40" class="email form-control" aria-required="true" aria-invalid="false" placeholder="Email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div style="min-height: 75px;">
                                        <textarea name="comment" cols="40" rows="3" class="comment form-control" aria-invalid="false" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-sm-offset-1" style="margin-top: 10px;">
                                    <input type="submit" value="Send!" class="button btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div style="text-align: center;color:white;margin-top: 40px">
                <h5>
                    <a target="_blank" href="#" class="fui-github" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-html5" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-instagram" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-tumblr" style="margin-left: 10px;margin-right: 10px"></a>
                </h5>
                <p style="font-size: 16px;text-align: center">Powered by <a href="#">联金所爬虫组</a>. Copyright &copy; 2016 </p>
                <p><a href="#" target="_blank" style="font-size: 16px"> Spider Official Website</a>. All rights reserved.</p>
                <a style="font-size: 16px" target="_blank" href="#"><i style="font-size:64px; color: #444;"></i></a>
        </div>
  </div>
</footer>
{% endblock %}
