{% extends "base.html" %}
{#{% block title %}爬虫组{% endblock %}#}
{% block body_attribs %}
{% endblock %}
{% block head %}
{{ super() }}
    <style>
    .footer-wrap {
        border-top: 1px solid #c7d4e0;
        width: 100%;
        min-width: 1024px;
        margin-top: 300px;
    }
    .footer {
    padding-top: 14px;
    margin-bottom: 20px;
    }
    .cbody {
    width: 1024px;
    margin: 0 auto;
    }
    .clearfix {
    +display: inline-block;
    }
    .footer-nav {
    width: 104px;
    padding-left: 20px;
    float: left;
}
    ul, ol {
    list-style-type: none;
    }
    .case-wrap {
    width: 1024px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 26px;
    border-top: 1px solid #c7d4e0;
}
    .companyProductsWrap {
    position: relative;
    }
    .word {
        color: #617385;
    position: absolute;font-weight: 200;
    width: 140px;
    text-align: center;
    background: #ffffff;
    margin-left: 49%;
    left: -65px;
    top: -22px;
    font-size: 30px;
    font-family: "微软雅黑";
}
    	img {
	    transition:All 0.4s ease-in-out;
	    -webkit-transition:All 0.4s ease-in-out;
	    -moz-transition:All 0.4s ease-in-out;
	    -o-transition:All 0.4s ease-in-out;
	}
	img:hover {
        transform:rotate(360deg) scale(1.15);
	    -webkit-transform:rotate(360deg) scale(1.15);
	    -moz-transform:rotate(360deg) scale(1.15);
	    -o-transform:rotate(360deg) scale(1.15);
	    -ms-transform:rotate(360deg) scale(1.15);
	}
    </style>
{% endblock %}
{% block page_content %}
    <div class="jumbotron" style="margin-top:-30px;max-width: 1920px;height: 300px;background: url('{{ url_for('static', filename='img/banner.jpg') }}') top/cover no-repeat">
    </div>
    <div class="container" style="margin-bottom: 60px">
    <div class="row" style="margin-top: 50px">
        <div class="case-wrap companyProductsWrap">
            <div class="word">
                征信审核
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin-left: 22%">
                <a href="{{ url_for('dishonest_check') }}">
                    <img  src="{{ url_for('static', filename='img/remain2.png') }}" width="200px"
                         />
                    <p ><button class="btn btn-primary" style="margin: -15px 0px 10px 40px">失信被执行人</button></p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin-left: 22%">
                <a href="{{ url_for('dishonest_person') }}">
                    <img src="{{ url_for('static', filename='img/remain1.png') }}" width="200px"
                         onmouseover="bigImg(this)" onmouseout="normalImg(this)"/>
                    <p><button class="btn btn-primary" style="margin: -15px 0px 10px 55px">被执行人</button></p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin-left: 22%">
                <a href="#">
                    <img src="{{ url_for('static', filename='img/credit_report.png') }}" width="200px"
                         onmouseover="bigImg(this)" onmouseout="normalImg(this)"/>
                    <p><button class="btn btn-primary" style="margin: -15px 0px 10px 55px">征信报告</button></p>
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="case-wrap companyProductsWrap">
            <div class="word">
                Others
            </div>
        </div>
         <div class="col-md-4">
             <div style="margin-left: 22%">
                 <a href="{{ url_for('check') }}">
                    <img src="{{ url_for('static', filename='img/search.png') }}" width="200px"/>
                    <p ><button class="btn btn-primary" style="margin: -15px 0px 10px 65px">运营商</button></p>
                </a>
             </div>
        </div>
        <div class="col-md-4">
            <div style="margin-left: 22%">
                <a href="{{ url_for('institution') }}">
                <img src="{{ url_for('static', filename='img/government.png') }}" width="200px"/>
                    <p ><button class="btn btn-primary" style="margin: -15px 0px 10px 55px">政府机构</button></p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin-left: 22%">
                <a href="#">
                    <img src="{{ url_for('static', filename='img/money_judge_gray.png') }}" width="200px"
                    />
                    <p ><button class="btn btn-primary" style="margin: -15px 0px 10px 55px">额度评估</button></p>
                </a>
            </div>
        </div>
    </div>
    </div>
<!--begin footer-->
 <div style="background-color:#333; border-top:1px solid #ccc;">
        <div style="text-align: center;color:white;margin-top: 40px">
                <h5>
                    <a target="_blank" href="#" class="fui-github" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-html5" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-instagram" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-tumblr" style="margin-left: 10px;margin-right: 10px"></a>
                </h5>
                <p style="font-size: 16px;text-align: center">Powered by <a href="#">联金所爬虫组</a>. Copyright &copy; 2016 </p>
                <p><a href="#" target="_blank" style="font-size: 16px"> Spider Official Website</a>. All rights reserved.</p>
                <a style="font-size: 16px" target="_blank" href="#"><i style="font-size:64px; color: #444;"></i></a>
        </div>
 </div>

{% endblock %}
