{% extends "base.html" %}
{#{% block title %}爬虫组{% endblock %}#}
{% block body_attribs %}
{% endblock %}
{% block head %}
{{ super() }}
    <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block page_content %}
    <header>
      <div style="float: right;padding-top:20px;padding-right:20px;float: left;margin-left: 50px">
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/pachongzu.png') }}" height="55px"/></a></div>
          <div style="float: right;padding-top:20px;padding-right:20px;" >
          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}" style="font-size: 18px;"> 主页 </a></li>
              <li><a href="{{ url_for('check') }}" style="font-size: 18px;"> 运营商 </a></li>
              <li><a href="{{ url_for('institution') }}"style="font-size: 18px;"> 政府机构查询 </a></li>
              <li><a href="{{ url_for('dishonest_check') }}"style="font-size: 18px;"> 失信被执行人 </a></li>
              <li><a href="{{ url_for('dishonest_person') }}"style="font-size: 18px;"> 被执行人 </a></li>
              <li><a href="#"style="font-size: 18px;"> 征信报告 </a></li>
           </ul></div>
    </header>
{#    <div class="bg" style="background-position: center -185.333px;">#}
    <div id="boom" style="padding-top:40px;max-width: 1920px;height: 500px;background: url('{{ url_for('static', filename='img/newbanner.jpg') }}') top/cover no-repeat">

    </div>
    <div class="container" style="margin-bottom: 60px">
            <div class="row cold-md-12 text-center">
                <br><h3><b style="color: #a5cc00;font-family: 'Segoe Script', sans-serif">Why StartUps Investors trust us?</b></h3><br><br>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="feature">
                        <i class="fui-mail" style="color: rgb(0, 230, 193);font-size: 70px;"></i>
                        <h4>Data Privacy &amp; Full transparency</h4>
                        <p>
                        Connect and share privately and secure your startup data with potential and existing investors through our network.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="feature">
                        <i class="fui-time" style="color: rgb(0, 230, 193);font-size: 70px;"></i>
                        <h4>Saves ridiculous amount of time</h4>
                        <p>
                        By sharing your data story with investors allows you to stay ridiculously focused on your startup instead of pitching it.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="feature">
                        <i class="fui-eye" style="color: rgb(0, 230, 193);font-size: 70px;"></i>
                        <h4>Finally allows you to focus</h4>
                        <p>
                        Sharing your data from the early stage enables you to focus on your growth and build quality relationships with investors.
                        </p>
                    </div>
                </div>
            </div>

	</div>
    <div style="background-color: #f3f3f3;text-align: center;padding-top: 50px;padding-bottom: 80px" id="use">
    <h3 style="font: 35px 'Segoe Script',sans-serif;font-weight: 400;color: #89ae00;"> Simple And Easy To Handle</h3>
            <p style="font-size: 25px"> Data scientist is just a sexed up word for a statistician </p>
        <a type="button" href="#content" class="button2 btn btn-danger" >Get Started Now! </a>
    </div>

    <div style="padding-bottom: 80px">
    <div class="container" id="content">
    <div class="row" style="margin-top: 100px">
        <div class="case-wrap companyProductsWrap">
            <div class="word">
                征信审核
            </div>
        </div>
        <div class="col-md-4">
                <a href="{{ url_for('dishonest_check') }}">
                    <img  src="{{ url_for('static', filename='img/remain2.png') }}" width="200px" style="margin-left: 22%"
                         />
                    <h4 style="margin: -15px 0px 10px 0px"><button class="button btn btn-danger">失信被执行人</button></h4>
                    <p> 不履行生效法律文书确定的义务的人，俗称老赖。
                    </p>
                </a>
        </div>
        <div class="col-md-4">
                <a href="{{ url_for('dishonest_person') }}">
                    <img src="{{ url_for('static', filename='img/remain1.png') }}" width="200px" style="margin-left: 22%"
                         onmouseover="bigImg(this)" onmouseout="normalImg(this)"/>
                                        <h4 style="margin: -15px 0px 10px 0px"><button class="button btn btn-danger">被执行人</button></h4>
                    <p> 被法院判决需要承担执行义务的人员。</p>
                </a>
        </div>
        <div class="col-md-4">
                <a href="#">
                    <img src="{{ url_for('static', filename='img/credit_report.png') }}" width="200px" style="margin-left: 22%"
                         onmouseover="bigImg(this)" onmouseout="normalImg(this)"/>
                    <h4 style="margin: -15px 0px 10px 0px"><button class="button btn btn-danger">征信报告</button></h4>
                    <p> 查询用户在中国人民银行征信中心的个人信用记录。</p>
                </a>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="case-wrap companyProductsWrap">
            <div class="word">
                Others
            </div>
        </div>
         <div class="col-md-4">
                 <a href="{{ url_for('check') }}">
                    <img src="{{ url_for('static', filename='img/search.png') }}" width="200px" style="margin-left: 22%"/>
                     <h4 style="margin: -15px 0px 10px 0px"><button class="button2 btn btn-inverse">运营商</button></h4>
                    <p> 查询用户的通话记录、短信信息等，涵盖三大运营商。</p>
                </a>
        </div>
        <div class="col-md-4">
                <a href="{{ url_for('institution') }}">
                <img src="{{ url_for('static', filename='img/government.png') }}" width="200px"
                     style="margin-left: 22%"/>
                    <h4 style="margin: -15px 0px 10px 0px"><button class="button2 btn btn-inverse">政府机构</button></h4>
                    <p>各级政府机关的联络方式查询，涵盖各省市。</p>
                </a>
        </div>
        <div class="col-md-4">
                <a href="#">
                    <img src="{{ url_for('static', filename='img/money_judge_gray.png') }}" width="200px"
                         style="margin-left: 22%"/>
                    <h4 style="margin: -15px 0px 10px 0px"><button class="button2 btn btn-inverse">额度评估</button></h4>
                    <p> 自动化审核用户信息通过模型计算得到相应的信用额度。</p>
                </a>
        </div>
    </div>
    </div>
    </div>
<!--begin footer-->
 <div style="background-color:#3c4252; border-top:1px solid #ccc;">

 </div>
<footer style="background-color:rgb(39, 39, 39)">
    <div class="container logo site-bottom">
        <section class="contact">
            <h3>联系我们</h3>
            <p style="color: #d0d0d0">Got a question or would like to schedule a one-on-one demo? Please use our contact form below and we’ll get back to you right away.</p>
            <div class="col-sm-11 col-sm-offset-1" style="padding-bottom: 50px;padding-top: 50px;">
                <div id="contacted">
                    <input type="hidden" name="env" value="live" />
                    <div>
                        <div role="form" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div style="min-height: 75px;">
                                        <div class="col-sm-5">
                                            <input type="text" name="name" value="" size="40" class="name form-control" aria-invalid="false" placeholder="Name" />
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-1">
                                            <input type="email" name="email" value="" size="40" class="email form-control" aria-required="true" aria-invalid="false" placeholder="Email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div style="min-height: 75px;">
                                        <textarea name="comment" cols="40" rows="3" class="comment form-control" aria-invalid="false" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-sm-offset-1" style="margin-top: 10px;">
                                    <input type="button" value="Send!" class="button btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div style="text-align: center;color:white;margin-top: 40px">
                <h5>
                    <a target="_blank" href="#" class="fui-github" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-html5" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-instagram" style="margin-left: 10px;margin-right: 10px"></a>
                    <a target="_blank" href="#" class="fui-tumblr" style="margin-left: 10px;margin-right: 10px"></a>
                </h5>
                <p style="font-size: 16px;text-align: center">Powered by <a href="#">联金所爬虫组</a>. Copyright &copy; 2016 </p>
                <p><a href="#" target="_blank" style="font-size: 16px"> Spider Official Website</a>. All rights reserved.</p>
                <a style="font-size: 16px" target="_blank" href="#"><i style="font-size:64px; color: #444;"></i></a>
        </div>
  </div>
</footer>
{% endblock %}
