.my-form {
	-moz-box-shadow: 5px 5px 5px #888;
	top: 5pc;
	background-color: #34495e;
	border-radius: 9pt
}

div.my-input {
	background-color: #dadcde;
	padding-top: 30px;
	border-radius: 0 0 10px 10px;
	padding-left: 10px;
}

.score_list_min {
    padding-left: 74px;
}
.score_list_ul {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
	padding-top: 45px;
}
ul, ol, li {
    list-style-type: none;
}
.score_list_ul li {
    float: left;
    width: 130px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-right: 8px;
    display: inline;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    position: relative;
}

.score_list_ul li.on {
    font-weight: bold;
    border: 1px solid #1abc9c;
}